/* Google Fonts 
    font-family: 'Source Sans Pro', sans-serif; 200, 300, 400, 600, 700, 900
    font-family: 'Source Serif 4', serif; 200 - 900
*/

/* Colors 
    lightgrey: #f2eee9;
    grey: #414141;
    beige: #be9a85; 
    black: #3c3c3c;
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Temporary Styles */
/* * {
    padding: 0.5rem;
    border: 2px solid rgb(220, 220, 220);
}

html, 
body {
    border: none;
}

h1, h2, h3, h4, h5, h6, p, a {
    border: 2px solid rgb(245, 99, 99);
} */
/* End Temporary Styles */

/* Gridlex - Universal Reset */
[class*="col-"], 
[class*="col_"], 
[class~="col"] {
    padding: 0;
}

[class*=grid] { margin: 0; }

[class*="col-"], 
[class*="col_"], 
[class~="col"] {
    margin: 0;
}

html { scroll-behavior: smooth; }

body {
    font-family: 'Source Serif 4', serif;
    color: #414141;
}

/* General Styles */

.left     { text-align: left; }
.centered { text-align: center; }
.right    { text-align: right; }

.tall-50  { min-height: 50vh; }
.tall-70  { min-height: 70vh; }
.tall-100 { min-height: 100vh; }

.padded     { padding: 5%; }
.padded-1   { padding: 1rem; }
.padded-2   { padding: 2rem; }
.padded-3   { padding: 3rem; }
.padded-4   { padding: 4rem; }
.padded-5   { padding: 5rem; }
.padded-10  { padding: 10%; }

.padded-t-1 { padding-top: 1rem; }
.padded-b-1 { padding-bottom: 1rem; }
.padded-l-1 { padding-left: 1rem; }
.padded-r-1 { padding-right: 1rem; }

.padded-t-2 { padding-top: 2rem; }
.padded-b-2 { padding-bottom: 2rem; }
.padded-l-2 { padding-left: 2rem; }
.padded-r-2 { padding-right: 2rem; }

.padded-t-0 { padding-top: 0; }
.padded-b-0 { padding-bottom: 0; }
.padded-l-0 { padding-left: 0; }
.padded-r-0 { padding-right: 0; }

.margin-t { margin-top: 5%; }
.margin-b { margin-bottom: 5%; }
.margin-l { margin-left: 5%; }
.margin-r { margin-right: 5%; }

.margin-t-1 { margin-top: 1rem; }
.margin-b-1 { margin-bottom: 1rem; }
.margin-l-1 { margin-left: 1rem; }
.margin-r-1 { margin-right: 1rem; }

.margin-t-2 { margin-top: 2rem; }
.margin-b-2 { margin-bottom: 2rem; }
.margin-l-2 { margin-left: 2rem; }
.margin-r-2 { margin-right: 2rem; }

.margin-t-0 { margin-top: 0; }
.margin-b-0 { margin-bottom: 0; }
.margin-l-0 { margin-left: 0; }
.margin-r-0 { margin-right: 0; }

.relative { position: relative; }

/* Aspect Ratio */
.portrait-tall  { padding-bottom: 175%; }
.portrait       { padding-bottom: 115%; }
.square         { padding-bottom: 100%; }
.landscape      { padding-bottom: 60%; }
.landscape-wide { padding-bottom: 56%; }

/* Typography Styles */
h1, h2, h3, h4, h5, h6 {
    line-height: 1; 
    margin-bottom: 0.8rem;
    font-weight: 400; 
}

h2 { font-size: 2.2rem; }
h4 { font-size: 1.5rem; }

p {
    margin-bottom: 1rem;
    line-height: 1.6;
    font-size: 1.1rem;
}

h2:last-child, 
h3:last-child, 
h4:last-child, 
h5:last-child, 
h6:last-child, 
p:last-child {
    margin-bottom: 0;
}

a {
    color: inherit;
    text-decoration: none;
    font-size: 1.1rem; 
}

nav a:hover {
    color: #be9a85;
}

.bump-right {
    margin-right: calc(-20vw);
    z-index: 2;
    position: relative;
}

.sm-bold {
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 2.5rem; 
    font-weight: 700;
    letter-spacing: 1px;
}

.md-bold {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 5vw;
    font-weight: 700;
    letter-spacing: 0;
}

.big-bold {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 7vw;
    font-weight: 700;
    letter-spacing: 1px;
}

.our-benefits h3 {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}

.subtle-heading {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

.subtle {
    opacity: 0.7;
}

.vertical-text {
    transform: rotate(270deg);
    font-size: 15vh; 
    transform-origin: center right 0; 
    display: inline-block; 
    position: absolute; 
    right: 0; 
    top: -2rem; 
}

/* Home Page */
.home-banner hr {
    margin: 2rem 0;
    border-bottom: 3px solid;
}

hr {
    border: none; 
    width: 4rem;
}

.primary-links a {
    display: block;
    font-size: 1.4rem;
    line-height: 1;
    padding: 0.5rem 0;
}

.bg-image {
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-color: #f2eee9; 
}

.inline-logo {
    display: inline-block;
    max-width: 15rem;
}

.logo {
    font-family: 'Source Sans Pro';
    font-weight: bold;
    text-transform: uppercase;
}

/* Contact Page */
.contact h4 { 
    text-transform: uppercase;
    margin-top: 2.5rem; 
}
.contact p  { margin-bottom: 0.2rem; }

.border-left {
    margin-top: 10rem; 
    border-left: 2px solid; 
}

.banner {
    background-size: cover; 
    background-position: center;
    background-color: #e8e1d9;
    position: relative; 
}

.vertical-form-text {
    transform: translateX(-50%) translateY(-50%) rotate(-90deg); 
    font-size: 3.5rem;
    position: absolute;
    top: 50%; 
    left: 50%; 
    white-space: nowrap;
}

.enquiry input {
    font-family: 'Source Serif 4', serif;
}

.enquiry textarea {
    resize: none; 
}

.input-text {
    font-size: 1.2rem; 
    line-height: 1.2;
    display: block; 
    margin: 0; 
    width: 100%; 
    border: none; 
    border-bottom: 2px solid #5f5a5a; 
    transition: all .5s; 
    padding: 0.7rem 0 0.5rem; 
    background-color: rgba(0,0,0,0); 
}

textarea {
    min-height: 6rem; 
    font-family: inherit; 
}

input, 
textarea {
    border-style: solid; 
    border: 2px solid #f9f0e7; 
    padding: 0.8em; 
    display: block; 
    width: 100%; 
    font-size: 1rem; 
    /* vertical-align: top;  */
}

input:focus, 
textarea:focus {
    outline: 0;
}

.input-text:focus {
    border-color: #d7b1a2;
}

button, 
input, 
select, 
textarea {
    font-family: inherit; 
    font-size: 100%; 
    box-sizing: border-box; 
}

label {
    color: #f8f6f4; 
}

.floating-input {
    position: relative; 
    padding-top: 1rem; 
    margin-bottom: 3rem; 
}

input[type=submit] {
    width: auto; 
    display: block; 
}

.button-solid {
    background-color: #3c3c3c; 
    color: #fff; 
    border: 2px solid; 
    padding: 0.8rem 2rem; 
    text-decoration: none; 
    margin-top: 1rem; 
    text-transform: uppercase; 
    font-size: .9rem; 
    font-weight: 400; 
    letter-spacing: 1px; 
}

.button-solid:hover {
    background-color: #be9a85;
}

/* .padded-t-tall {
    padding-top: 1.5rem; 
} */

.padded-v-tall {
    padding-top: 10rem; 
    padding-bottom: 10rem; 
}

/* Header & Footer Styles */
header {
    padding: 1% 5%;
}

header nav a {
    display: inline-block; 
    padding: 0.5rem;
}

.magazin {
    margin-right: 1.5rem;
}

footer h3 {
    font-size: 1.2rem;
}

footer p {
    margin-bottom: 0.01rem;
}

footer nav a {
    display: block;
}

/* Background Styles */
.bg-image {
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    background-color: #f2eee9;
}

.bg-image-light {
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
}

.light-bg {
    background-color: #f2eee9;
}

.featured-bg {
    background-color: #e8e1d9;
}

.v-light-bg {
    background-color: #f8f6f4;
}

/* Hamburger */

.mobile-menu { display: none; }
/* .mobile-menu { 
    display: none; 
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-color: #faf4ed; 
    padding: 10%; 
    z-index: 5; 
} */

/* .mobile-menu .logo {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700; 
    text-transform: uppercase;
} */

/* .hamburger {
    position: absolute;
    top: 1vw;
    right: 5vw;
    cursor: pointer;
    z-index: 6;
    padding: 0.5rem;
} */

/* .hamburger.active {
    color: #be9a85;
    position: fixed; 
    top: 1vw; 
    right: 5vw; 
} */

/* Button Styles */
.button {
    text-decoration: none;
    color: #be9a85; 
    border: 2px solid; 
    padding: 0.6rem 2rem; 
    margin-top: 1rem; 
    display: inline-block; 
    text-transform: uppercase; 
    font-size: 0.9rem; 
    font-weight: 400; 
    letter-spacing: 1px; 
    font-family: 'Source Sans Pro', sans-serif; 
}

.button:hover {
    color: #3c3c3c; 
}







/* General CSS Responsive Styles (apply everywhere unless overridden) */
.mob-show { display: none; }

/* -------------------- MD Media Query (64em/1024px) -------------------- */
/* Styles added here will apply at devices smaller than 1024px, or zoomed in equivalent */

/* @media(max-width:64em) {
    .show-md { display: block; }
    .hide-md { display: none; }
} */


/* -------------------- SM Media Query (48em/768px) -------------------- */
/* Styles added here will apply at devices smaller than 768px, or zoomed in equivalent */

@media(max-width:48em) {
    .mob-show { display: block; }
    .mob-hide { display: none; }

    .mob-text-left   { text-align: left; }
    .mob-text-center { text-align: center; }
    .mob-text-right  { text-align: right; }

    .mob-padded-5   { padding: 5%; }
    .mob-padded-1  { padding: 1rem; }
    .mob-padded-05 { padding: 0.5rem; }

    .mob-padded-t-0 { padding-top: 0; }
    .mob-padded-b-0 { padding-bottom: 0; }
    .mob-padded-l-0 { padding-left: 0; }
    .mob-padded-r-0 { padding-right: 0; }

    .mob-margin-t-0 { margin-top: 0; }
    .mob-margin-b-0 { margin-bottom: 0; }
    .mob-margin-l-0 { margin-left: 0; }
    .mob-margin-r-0 { margin-right: 0; }
}


/* --------------------XS Media Query (36em/576px) -------------------- */
/* Stlyles added here will apply at devices smaller than 576px, or zoomed in equivalent */

/* @media(max-width:36em) {
    .show-xs { display: block; }
    .hide-xs { display: none; }
} */